
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
        <!-- Bootstrap Dropdown Hover CSS -->
        <link href="css/animate.min.css" rel="stylesheet">
        <link href="css/bootstrap-dropdownhover.min.css" rel="stylesheet">
    
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
    
        <!-- Bootstrap Dropdown Hover JS -->
        <script src="js/bootstrap-dropdownhover.min.js"></script>
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   
    <style>
      form {
          background-color: #F1F1F1;
          padding: 20px;
          border-radius: 10px;
          box-shadow: 0 0 10px rgba(0,0,0,0.2);
          
      }


      input[type=text], select {
        width: 180px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }

        input[type=password], select {
        width: 180px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }

        drop {
        width: 180px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }

      .my-textarea {
          width: 100%;
          height: 75px;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }

      input[type=file], select {
          margin: 8px 0;
          display: inline-block;
          box-sizing: border-box;
        }
      input[type=date], select {
          margin: 8px 0;
          width: 180px;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }
      .logo{
          padding-left: 30px;
          padding-top: 10px;
          padding-bottom: 10px;
      }
      .slogan{
          padding-left: 20px;
          padding-top: 40px;
      }

      #myDiv {
          background-color: #27A1B7;
        }
        
      .profile {
          position: relative;
          display: inline-block;
          cursor: pointer;
        }
      .profile img {
          border-radius: 50%;
          border: 2px solid #333333;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);;
          border-color: silver;
          border-width: 1px;
        }

      .dropdown-content {
          display: none;
          position: absolute;
          background-color: #b9112d;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          border-radius: 4px;
          min-width: 250px;
          padding: 10px;
          border: 1px solid silver;
          z-index: 1;
          top: 90%;
          right: 20%;
          color: white;
          font-family: 'Times New Roman', Times, serif;
        }

      .profile:hover .dropdown-content {
          display: block;
        }

      .navbar {
          position: absolute;
          width: 180px;
      }

      .justify-content-start{
          margin-top: 30px;
          margin-bottom: 560px;
        }


      .selected{
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        }
        .footer{
          color:  #27A1B7;
      }
      .button4{
          background-color: #27A1B7;
          width: 150px;
          margin-left: 50px;
          margin-right: 50px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

      }

      .button4:hover{
        background-color: #b9112d;

      }
      .inputbar{
        width: 140px;
        padding-left: 30px;
      }
      .desbar{
        width: 170px;
        padding-left: 30px;
      }
      .des{
        padding-left: 30px;
        padding-right: 40px;
      }
      body {
          overflow-x: hidden; /* Hide horizontal scrollbar */
        }
    </style>


    <title>PWB | Create User Account</title>
    <link rel="icon" href="https://drive.google.com/uc?export=view&id=1do4DObQ20TFCRY-4t_NxjM2qeWVpAbdw" type="image/x-icon">


  </head>
  <body style="background-color: white;">
    <div class="row">
      <div class="col-1">
        <a href="/"><img class="logo" src="https://drive.google.com/uc?export=view&id=1j8pAqlPUG4MK0mbvUv9qZCU-a4lYNa2p" height="100px"></a>
    </div>
    <div class="col-4 slogan">
      <p style="font-size: 20px; font-family:Arial, Helvetica, sans-serif; color: #27A1B7; font-style: italic;"   > Empower your team, conquer projects.</p> 
    </div>
    <div class="col-6"></div>
    <div class="col-1 profile">
      <br>      
      <img src="<%= userprops[0].Profile_Picture %>" alt="Profile" width="60" height="60">
      <div class="dropdown-content">
        <center><%= userprops[0].USER_NAME %>'s account</center>
        <hr color="white">
        User ID | <%= userprops[0].USER_ID %><br>
        User Type | <%= userprops[0].USER_TYPE %><br>
        Email | <%= userprops[0].Email %>
      </div>
    </div>

  </div>

  <div class="row"id="myDiv">
    <div class="container-fluid">
        <div class="row">
          <div class="col-2">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <ul class="navbar-nav flex-column justify-content-start">
                <li class="nav-item selected">
                  <a class="nav-link" href="/adminhome"><font style="color: black;">User Management</font></a>
                </li><br>
                <li class="nav-item">
                  <a class="nav-link" href="/adminhome/createproject"><font style="color: black;">Create Project</a></font>
                </li><br>
                <li class="nav-item">
                  <a class="nav-link" href="/adminhome/workflow"><font style="color: black;">Workflow</a></font>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-10">
            <div class="row"id="myDiv">
                <div class="col-2"></div>
                <div class="col-8">
                    <br><br>
                    <form class="form-horizontal" action="/adminhome/createuser/add" method="POST">
                        <legend><center><font style="font-family:Arial, Helvetica, sans-serif; font-size: 36px;">Create User Account</font></center></legend><hr>
                        
                        <label for="user-name" class="inputbar">User Name:</label>
                        <input type="text" id="user-name" name="un" placeholder="Enter User Name" required>
            

                        <label for="user-type" class="inputbar">User Type:</label>
                        <select id="user-type" name="ustype" class="drop" required>
                          <option value="">Select User Type</option>
                          <option value="Admin">Admin</option>
                          <option value="Developer">Developer</option>
                          <option value="External User">External User</option>
                          <option value="Project Lead">Project Lead</option>
                        </select><br>
                        
                        <label for="email" class="inputbar">Email:</label>
                        <input type="text" id="email" name="email" placeholder="Enter Email" required>

                        <label for="pwd" class="inputbar">Password:</label>
                        <input type="password" id="pwd" name="pwd" placeholder="Enter Password" required><br>

                        
                        <label for="profile-picture" class="inputbar">Profile Picture:</label>
                        <input type="text" id="profile-picture" name="profilepic" placeholder="Enter Image Link" required><br><br>

                        <div>
                          <% if(addsucc == 1)
                      {%> 
                          <center><p style="color:red;">This username is already taken!</p></center>
                      <%} else {console.log("Didn't add anything.")} %>
                        </div>
                        <center><button type="submit" class="btn button4 btn-default"><font style="color: white;">Create Account</button>
                                                 
                        <a href = '/adminhome'> <button type="button" class="btn button4 btn-default">Return</font></button></a>
                        </center>
            
                      </form>
                      <br><br>
                </div>
            
            
            </div>
          </div>
        </div>
      </div>

</div>
<!-- Footer starts -->
<br><br>
<div class="row">
    <div class="col">
        <center><img src="https://drive.google.com/uc?export=view&id=1HAXuH0sSWZWbGN2OsQrD-UgzonSodMum" height="150px"></center>
    </div>
    <div class="col">
        <button type="button" class="btn btn-link footer">Careers</button>
        <br>
        <button type="button" class="btn btn-link footer">Privacy Policy</button>
        <br>
        <button type="button" class="btn btn-link footer">Questions</button>
        <br>
        <button type="button" class="btn btn-link footer">Help</button>
    </div>
    <div class="col">
        <button type="button" class="btn btn-link footer">Email</button>
        <br>
        <button type="button" class="btn btn-link footer">Phone</button>
        <br>
        <button type="button" class="btn btn-link footer">Fax</button>
        <br>
        <button type="button" class="btn btn-link"><img src="https://drive.google.com/uc?export=view&id=1N7HNvlOwt1Fo1IlS904iPnw52AR4M2kT" height="20px"></button>
        <button type="button" class="btn btn-link"><img src="https://drive.google.com/uc?export=view&id=1LHjqLxUFppPkwzJjaoSMU09Nnj44kZke" height="20px"></button>
        <button type="button" class="btn btn-link"><img src="https://drive.google.com/uc?export=view&id=1nBsJy9s2Djl0eZp0wIdsWVsavus1vXxd" height="20px"></button>

    </div>
    <div class="col">
        <button type="button" class="btn btn-link footer">Technology</button><br>
        <button type="button" class="btn btn-link footer">Terms of Service</button><br>
        <button type="button" class="btn btn-link footer">Cookie Settings</button><br>
        <button type="button" class="btn btn-link footer">API</button>

    </div>
    <div class="col">
        <img src="https://drive.google.com/uc?export=view&id=1Bs8hWrnkoiJ3zHezVJ9BmQTMa5ZTwIcI" height="150px">
    </div>
</div> 
<br>
<div class="row">
    <div class="col-1"></div>
    <div class="col footer">
        <center>© 2021 PWB All Rights Reserved</center>
    </div>
    <div class="col-1 footer">
        <h4><center><a href="#top" class="nav-link">△</a></center></h4>
    </div>
</div>   


</body>
</html>
